body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background: #22c55e;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #22c55e;
}