<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📊 Dashboard</h1>

    <div class="tools">
	<div class="result-box">
    <h3>🔐 Password Strength Checker</h3>

    <input type="text" id="passwordInput" placeholder="Enter password">
    
    <div id="strengthBar" style="height:10px; width:0%; background:red;"></div>

    <p id="strengthText"></p>
</div>
        <button class="btn" onclick="lookupIP()">🌐 IP Lookup</button>
        <button class="btn" onclick="lookupMyIP()">🌍 My Real IP</button>
        <button class="btn" onclick="passwordCheck()">🔐 Password Checker</button>
        <button class="btn" onclick="hashGen()">🔑 Hash Generator</button>
		
    </div>
</div>

<!-- RESULT -->
<div id="resultBox" class="result-box" style="display:none;">
<div class="result-box">
    <h3>📜 IP History</h3>
    <ul id="logList"></ul>
</div>
    <h3>IP Result</h3>

    <p><b>IP:</b> <span id="ip"></span></p>
    <p><b>Country:</b> <span id="country"></span></p>
    <p><b>City:</b> <span id="city"></span></p>
    <p><b>ISP:</b> <span id="isp"></span></p>

    <img id="flag" width="80"><br><br>

    <a id="mapLink" target="_blank" class="btn">Open Map</a>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<div class="terminal">
    <h3>💀 Cyber Terminal</h3>

    <div id="terminalOutput"></div>

    <input type="text" id="terminalInput" placeholder="Type command...">
</div>
</body>
</html>